{{#each this}}
  <li>
    <h2 class='card-list__title'>
      <img
        src='{{flags.svg}}'
        alt='flag'
        width='30px'
        height='auto'
      />{{name.official}}</h2>
  </li>
{{/each}}